@use '@angular/material' as mat;
@use '../../styles' as *;

textarea {
    width: 100%;

}

#synthFrequencyElement,
#synthSpeedElement {
    width: 100%;
}

.morse-code-field {
    font-size: 1.5rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2vh;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 5rem;
}

.title {
    font: var(--mat-sys-display-medium);
    text-align: center;

    & > * {
        text-align: center;
        margin: 0 0;
    }

}

.title-underline {
    font: var(--mat-sys-headline-small);
    font-family: MorseDD;
    text-align: center;
}

.label {
    font-size: 1.1rem;
    font: $app-font-family;
}

.field {
    width: 100%;
}

.control-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.conversion-container {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    flex: 1
}

.faib {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-form-field.morse-code {
    @include mat.form-field-overrides((container-text-font: MorseDD));
}